<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>BOOKMARKS</h1>
    <ul>
      <% @bookmarks.each do |bookmark| %>
        <li><a href="<%= bookmark.url %>"><%= bookmark.title %></a></li>
      <% end %>
    </ul>
    <a href="/add_bookmark">Add bookmark</a>
  </body>
</html>
